*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
  text-align: center;  
}



#two{
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: cursive;
    /* Fail back machanisum */
}
