#one{
    font-size: 25px;
    line-height: normal;
    /* text-transform: uppercase; */
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */
    text-transform: none;
}

#three{
    font-size: 10px;
}